* {
  font-family: "IosevkaTerm Nerd Font";
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

window#waybar {
  background-color: transparent;
}

.modules-center {
  background-color: rgba(26, 26, 26, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 1px 4px;
  margin-top: 2px;
}

#workspaces,
#custom-caffeine,
#clock,
#pulseaudio,
#battery,
#tray {
  padding: 0 8px;
  color: #eeeeee;
}

#workspaces button {
  color: #707070;
  padding: 0 4px;
}

#workspaces button.active {
  color: #ffffff;
}

#tray {
  margin-left: 2px;
}
